<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Resumen del Mes</h1>
    <div class="btn-toolbar mb-2 mb-md-0 d-none">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
                Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                Export
            </button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi">
                <use xlink:href="#calendar3" />
            </svg>
            This week
        </button>
    </div>

</div>

<div>
    <p>Total soles: <%= @total_pen %></p>
    <p>Total dólares: <%= @total_usd %></p>
</div>
<%# <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> %>

<div style="width: 300px;">
    <canvas class="my-4 w-100" id="myPieChart" width="200" height="200"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Pie chart example
    const ctx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
            datasets: [{
                label: 'Total Amount',
                data: [1, 2, 3, 4, 3, 2, 0],
                backgroundColor: ['#FF6384', '#36A2EB', '#36A2EB', '#36A2EB', '#36A2EB', '#36A2EB', '#36A2EB'],
                borderColor: ['#fff', '#fff', '#fff', '#fff', '#fff', '#fff', '#fff'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Gastos por categoría'
                }
            }
        }
    });
</script>
