<div style="max-width: 900px; margin: auto;">
    <div class="pf-card mt-4">
        <h2 class="title">
            Elige cómo quieres planificar tus gastos y ahorro
        </h2 class="title">

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="pf-spending-card">
                    <div class="first-div">
                        <i class="bi bi-exclamation-circle" style="color: #f19c00;"></i>
                        <span>Necesidades</span>
                    </div>
                    <div class="percentage">50%</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pf-spending-card">
                    <div class="first-div">
                        <i class="bi bi-hand-thumbs-up" style="color: #43ce00; font-size: 29px; transform: translate(0px, -5px);"></i>
                        <span>Gustos</span>
                    </div>
                    <div class="percentage">30%</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pf-spending-card">
                    <div class="first-div">
                        <i class="bi bi-piggy-bank" style="color: #2f41d7; font-size: 31px; transform: translate(0px, -4px);"></i>
                        <span>Ahorros</span>
                    </div>
                    <div class="percentage">20%</div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<h1>Presupuestos</h1>

<% @categories.each do |category| %>
    <div class="row">
        <div class="col-md-6">
            <%= form_for(category, local: true) do |form| %>
                <div class="row align-items-center">
                    <div class="col-md-4">
                    <span><%= t("activerecord.attributes.transaction.categories.#{category.name}") %></span>
                    </div>
                    <div class="col-md-8">
                    <%= form.text_field :budget %>
                        <%= form.submit "Guardar", class: "btn btn-success btn-sm" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
