<% content_for :title, "Editing transaction" %>

<h1>Editar movimiento</h1>

<div class="row align-items-center mt-1">
  <div class="col-md-6">
    <%= render "form", transaction: @transaction %>
  <div>
<div>

<br>

<div>
  <%# link_to "Show this transaction", @transaction %>
  <%= link_to "Regresar a movimientos", transactions_path %>
</div>
