<% content_for :title, "Tus movimientos" %>

<div style="max-width: 900px; margin: auto;">
    <div class="pf-card mt-4  mb-4">
        <h2 class="title">
            Transacciones <i class="bi bi-chevron-right"></i>
        </h2 class="title">

        <%= render "transactions_table", transactions: @transactions %>

        <%# TODO %>
        <%= link_to "Agregar movimiento", new_transaction_path, class: "d-none btn btn-outline-success btn-sm mt-3 mb-3" %>
    </div>
</div>
