<% content_for :title, "Tus movimientos" %>

<h1>Tus movimientos</h1>

<%= render "transactions_table", transactions: @transactions %>

<%= link_to "Agregar movimiento", new_transaction_path, class: "btn btn-outline-success btn-sm mb-3" %>
