<% content_for :title, "Agregar movimiento" %>

<h1>Agregar movimiento</h1>

<%= render "form", transaction: @transaction %>

<br>

<div>
  <%= link_to "Regresar a movimientos", transactions_path %>
</div>
