<% content_for :title, "Agregar movimiento" %>

<div style="max-width: 900px; margin: auto;">
    <div class="pf-card mt-4  mb-4">
        <h2 class="title">
            Agregar movimiento
        </h2 class="title">

        <%= render "form", transaction: @transaction %>

        <div>
          <%= link_to "Regresar a movimientos", transactions_path %>
        </div>

    </div>
</div>
