<div style="max-width: 900px; margin: auto;">
    <div class="pf-card mt-4">
        <h2 class="title">
            Añade un correo desde el que enviarás tu infomación
        </h2 class="title">
    </div>
    <div class="pf-card mt-4">
        <h2 class="title">
            Correos registrados con éxito
        </h2 class="title">

        <div>
            <div>arturogonzalez@gmail.com</div>
            <div>Activo</div>
            <div><i class="bi bi-trash3"></i></div>
        </div>
    </div>
    <div class="pf-card mt-4 mb-4">
        <h2 class="title">
            ¿No sabes cómo crear un filtro de direccionamiento?
        </h2 class="title">

        <iframe width="650" height="350" src="https://www.youtube.com/embed/UhzdeGjLJ78" style="margin-top: 15px;">
        </iframe>
    </div>
</div>