<div style="max-width: 900px; margin: auto;">
    <div class="pf-card mt-4">
        <h2 class="title">
            Añade un correo desde el que enviarás tu infomación
        </h2 class="title">
    </div>
    <div class="pf-card mt-4">
        <h2 class="title">
            Correos registrados con éxito
        </h2 class="title">
    </div>
    <div class="pf-card mt-4 mb-4">
        <h2 class="title">
            ¿No sabes cómo crear un filtro de direccionamiento?
        </h2 class="title">
    </div>
</div>