<div style="max-width: 900px; margin: auto;">
    <div class="pf-card mt-4">
        <h2 class="title">
            Añade un correo desde el que enviarás tu infomación
        </h2 class="title">
    </div>
    <div class="pf-card mt-4">
        <h2 class="title">
            Correos registrados con éxito
        </h2 class="title">

        <div style="display: flex; margin-bottom: 10px;">
            <div style="font-size: 16px; color: #9f9f9f; width: 303px;">arturogonzalez@gmail.com</div>
            <div style="font-size: 16px; background-color: #F6F6F6; border-radius: 18px; padding: 0; width: 162px; text-align: center;">
                <i class="bi bi-check-circle-fill" style="color: #39B54A; margin-right: 13px; font-size: 19px;"></i>Activo
            </div>
            <div><i class="bi bi-trash3" style="font-size: 21px; margin-left: 25px; transform: translate(0px, -2px);"></i></div>
        </div>
        <div style="display: flex; margin-bottom: 10px;">
            <div style="font-size: 16px; color: #9f9f9f; width: 303px;">arturogonzalez@gmail.com</div>
            <div style="font-size: 16px; background-color: #F6F6F6; border-radius: 18px; padding: 0; width: 162px; text-align: center;">
                <i class="bi bi-x-circle-fill" style="color: #FF3B3A; margin-right: 13px; font-size: 19px;"></i>Desconectado
            </div>
            <div><i class="bi bi-trash3" style="font-size: 21px; margin-left: 25px; transform: translate(0px, -2px);"></i></div>
        </div>
    </div>
    <div class="pf-card mt-4 mb-4">
        <h2 class="title">
            ¿No sabes cómo crear un filtro de direccionamiento?
        </h2 class="title">

        <iframe width="650" height="350" src="https://www.youtube.com/embed/UhzdeGjLJ78" style="margin-top: 15px;">
        </iframe>
    </div>
</div>